// Colors
$gradient-start: hsl(237, 73%, 79%);
$gradient-end: hsl(238, 63%, 64%);
$blue-50: hsl(240, 78%, 98%);
$gray-650: hsl(233, 13%, 49%);
$gray-700: hsl(232, 13%, 33%);
$white: hsl(0, 0%, 100%);

// Typography
$font-montserrat: 'Montserrat', sans-serif;
$font-size-base: 0.9375rem; // 15px
$font-weight-bold: 700;

// Breakpoints
$breakpoint-mobile: 64rem; // 1024px
$breakpoint-desktop: 64.0625rem; // 1025px
